<!DOCTYPE html>
<html>
    <head>
        <title>University Admit Eligibility Predictor</title>
         </head>
         <link rel="stylesheet" href="/static/css/style.css">

    <header>
       <h1>UNIVERSITY ADMIT ELIGIBILITY PREDICTOR</h1>
        </header> 
    <body>
        <h2>Enter your details and get probability of your admission</h2>
        <div class="container">
            <p><b>Enter GRE Score : <input type="number" value="score range 0-340" style="border-color:blue;"></b></p>
        <p><b>Enter TOEFL Score : <input type="number" value="0-120" style="border-color: blue;"></input></b></p>
        <form>  
            <label  class="font_edits" for="university">University Rating:</label>
            <select id="University Rating" style="border-color: blue">
                <option value="University Rating">1</option>
                <option value="University Rating">2</option>
                <option value="University Rating">3</option>
                <option value="University Rating">4</option>
                <option value="University Rating">5</option>
            </select>
            </option>
        </form>
        <p><b>Enter SOP Score : <input type="number" value="score range 0-5" style="border-color:blue;"></b></p>
        <p><b>Enter LOR Score : <input type="number" value="score range 0-5" style="border-color:blue;"></b></p>
        <p><b>Enter CGPA Score : <input type="number" value="score range 0-10" style="border-color:blue;"></b></p>
        <form>  
            <label class="font_edits" for="university">Research:</label>
            <select id="Research" style="border-color: blue">
                <option value="Research">Yes</option>
                <option value="Research">No</option>
            </select>
           <p><b> <button class="btn_edits" type="submit"><a href="./noChance.html">Predict</a></button></b></p>

        </div>
        <footer class="footer">
            <div>
                Alrights reserved. &#169; 2022
            </div>
        </footer>
    
    </body> 
</html>