<!DOCTYPE html>
<html>
<head>
	<title>eligibility</title>
</head>
<body style="background-color:rgb(113, 121, 124);"></body>
<body>
	<img src="/static/img/no chance.png" style="float: right; " height="50%" width="50%"/>
	<div style="padding-top: 15%">
		<style>
			img {
			  display: block;
			  margin-left: auto;
			  margin-right: auto;
			}
		</style>	
		<style>
			h1 {text-align: center;}
			p {text-align: center;}
			div {text-align: center;}
			p.small {
             line-height: 0.7;
              }
			</style>
	<p>Prediction : <b>You don't have a chance! Better Luck Next Time </b><img src="/static/img/thumbsdown.png" height="10%" width="10%"></p>
	</div>
	<div class="container">
        <h4 style="text-align:center;">Go back</h4>
        <input type="button" onclick="window.location.href='http://127.0.0.1:5500/templates/index.html'" class="btn btn-warning btn-lg" value="Click"/>
    </div>
</body>
</html>